<h1>Formulario para crear peliculas</h1>

<form [formGroup]="movieForm" (ngSubmit)="handleSubmit()">
  <fieldset>
    <label for="movie-name">Movie name: </label>
    <input type="text" id="movie-name" formControlName="name" placeholder="Name" />
    @if(name.invalid && name.touched) {
      <p class="form-error">The name is required</p>
    }
  </fieldset>

  <fieldset>
    <label for="movie-duration">Movie duration: </label>
    <input type="number" id="movie-duration" formControlName="duration" placeholder="Duration" />
    @if(duration.hasError("required") && duration.touched) {
      <p class="form-error">The duration is required</p>
    }@else if (duration.hasError("max") && duration.touched) {
      <p class="form-error">The maximum duration is 300 minutes</p>
    }
  </fieldset>

  <fieldset>
    <label for="movie-director">Movie director: </label>
    <input type="text" id="movie-director" formControlName="director" placeholder="Director" />
  </fieldset>

  <button [disabled]="movieForm.invalid" type="submit">Crear pelicula</button>
</form>
